body{
    display: grid;
    height: 100vh;
    grid-template-rows: 35% 65%;
    background-color : #ffffff;


}

header {
  display: grid;
  grid-template-columns: 35% 65%;
  row-gap: 0px;
  grid-template-rows: 50% 50%;
  background-color: #ffffff;
}

.item1 {
  font-family: georgia;
  letter-spacing: 2px;
  font-size: 36px;
  margin-left: 2em;
  margin-bottom: 0.5em;
  align-self: flex-end;
  grid-column : 2 / 3;
  grid-row : 1 / 2;
}

.item2 {
  font-size: 22px;
  font-weight: normal;
  font-family: system-ui;
  margin-left: 76px;
  margin-top: 0px ;
  align-self: flex-start;
  font-size: 20px;
  grid-column : 2 / 3;
  grid-row : 2 / 3;
}

.item3 {
background-color: #191919;
height: 100%;
width: 100%;
  margin: 0px;
  grid-column : 1 / 2;
  grid-row : 1 / -1;
  object-fit: cover;

}
.item3 img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-left: 50%;
  transform: translateX(-50%);

}

main{
    display : grid;
  
    grid-template-columns : 35% 65%;
    column-gap:  0px;
    font-family: Arial;
}

.cotedroit{
  background-color:   #ffffff;
    grid-column: 2/3 ;
    grid-row: 1/-1;
}

.cotegauche{
  color:#5d5d5d;
  background-color:#191919;
    grid-column: 1/2 ;
    grid-row: 1/-1  ;
      width: 100%;
}

main h2{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    margin : 20px;
    justify-items: left;
    align-self: flex-end;
    padding-bottom: 10px;
}
main p{
    font-size: 18px;
    margin : 0.9em;
    justify-items: left;
    align-self: flex-start;
}

section {
  margin : auto 1em 4em 2em ;
}

  a{
    color: #2563EB;
     text-decoration: none;
  }
article.cotegauche h2{
  border-bottom: 2px solid #ffffff;
  padding-bottom: 5px;               
  margin-bottom: 15px;
}

article.cotedroit h2{
  border-bottom: 2px solid #000000;
  padding-bottom: 5px;               
  margin-bottom: 15px;
}


